<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

	<bean id="abstractDaoBean" abstract="true"> 
		<property name="timeout" value="5"/>
	</bean>


	<bean id="userDaoServiceBean" class="service.UserDaoDBImpl" parent="abstractDaoBean">
		<property name="driverClassName" value="com.oracle.jdbc.OracleDriver" />
		<property name="requiredSpeedType" value="FAST" />
		<property name="host" value="jdbc://host.com" />
	</bean>

	<bean id="userLdapBean" class="service.UserDaoLdapImpl" parent="abstractDaoBean">
		<property name="host" value="ldap://host.com" />
	</bean>


</beans>

